.form_main {
    /* border: 2px solid red; */
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    height: fit-content;
    padding: 10px;
    padding-bottom: 20px;
}

.inputf {

    background-color: rgba(0, 0, 0, 0);
    color: white;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
}